.DS_Store
images/avatar.jpg
images/icon.png
images/icon_spins.png
papers/2017-ieee/cite.bib
papers/2017-ieee/index.md
papers/2019-acrs/2019acrs.pdf
papers/2019-acrs/cite.bib
papers/2019-acrs/featured.png
papers/2019-acrs/index.md
papers/2019-appeec/2019appeec.pdf
papers/2019-appeec/cite.bib
papers/2019-appeec/featured.png
papers/2019-appeec/index.md
papers/2019-kjrs/2019kjrs.pdf
papers/2019-kjrs/cite.bib
papers/2019-kjrs/featured.png
papers/2019-kjrs/index.md
papers/2019acrs2/cite.bib
papers/2019acrs2/featured.PNG
papers/2019acrs2/index.md
papers/2019isrs/cite.bib
papers/2019isrs/featured.PNG
papers/2019isrs/index.md
papers/2020-isprs/2020isprs.pdf
papers/2020-isprs/cite.bib
papers/2020-isprs/featured.png
papers/2020-isprs/index.md
papers/2020-mdpi/2020mdpi.pdf
papers/2020-mdpi/cite.bib
papers/2020-mdpi/featured.png
papers/2020-mdpi/index.md
papers/2020-nips/2020nips.pdf
papers/2020-nips/cite.bib
papers/2020-nips/featured.png
papers/2020-nips/index.md
papers/2021-isprs/2021isprs.pdf
papers/2021-isprs/cite.bib
papers/2021-isprs/featured.png
papers/2021-isprs/index.md
papers/2021-isrs/2021isrs.pdf
papers/2021-isrs/cite.bib
papers/2021-isrs/featured.PNG
papers/2021-isrs/index.md
resources/cv_recent.pdf
